.blur\[1px\] { filter: blur(1px); }
.blur\[2px\] { filter: blur(2px); }
.blur\[3px\] { filter: blur(3px); }
.blur\[4px\] { filter: blur(4px); }
.blur\[5px\] { filter: blur(5px); }
.blur\[6px\] { filter: blur(6px); }
.blur\[7px\] { filter: blur(7px); }
.blur\[8px\] { filter: blur(8px); }
.blur\[9px\] { filter: blur(9px); }
.blur\[10px\] { filter: blur(10px); }
.blur\[20px\] { filter: blur(20px); }
.blur\[30px\] { filter: blur(30px); }
.blur\[40px\] { filter: blur(40px); }
.blur\[50px\] { filter: blur(50px); }
.blur\[60px\] { filter: blur(60px); }
.blur\[70px\] { filter: blur(70px); }
.blur\[80px\] { filter: blur(80px); }
.blur\[90px\] { filter: blur(90px); }
.blur\[100px\] { filter: blur(100px); }