.brightness\[2\]    { filter: brightness(2) !important; }
.brightness\[1\.9\]    { filter: brightness(1.9) !important; }
.brightness\[1\.8\]    { filter: brightness(1.8) !important; }
.brightness\[1\.7\]    { filter: brightness(1.7) !important; }
.brightness\[1\.6\]    { filter: brightness(1.6) !important; }
.brightness\[1\.5\]    { filter: brightness(1.5) !important; }
.brightness\[1\.4\]    { filter: brightness(1.4) !important; }
.brightness\[1\.3\]    { filter: brightness(1.3) !important; }
.brightness\[1\.2\]    { filter: brightness(1.2) !important; }
.brightness\[1\.1\]    { filter: brightness(1.1) !important; }
.brightness\[1\]    { filter: brightness(1) !important; }
.brightness\[0\.9\] { filter: brightness(0.9) !important; }
.brightness\[0\.7\] { filter: brightness(0.7) !important; }
.brightness\[0\.6\] { filter: brightness(0.6) !important; }
.brightness\[0\.5\] { filter: brightness(0.5) !important; }
.brightness\[0\.4\] { filter: brightness(0.4) !important; }
.brightness\[0\.3\] { filter: brightness(0.3) !important; }
.brightness\[0\.2\] { filter: brightness(0.2) !important; }
.brightness\[0\.1\] { filter: brightness(0.1) !important; }
.brightness\[0\]    { filter: brightness(0) !important; }