.display-none {
    display: none !important;
}

.d-display-flex { display: flex !important; }
.d-display-none { display: none; }

@media (max-width: 768px) {
    .t-display-none {
        display: none !important;
    }

    .t-display-none {
        display: none !important;
    }

    .t-display-flex {
        display: flex !important;
    }
}

@media (max-width: 480px) {
    .m-display-none {
        display: none !important;
    }

    .m-display-none {
        display: none !important;
    }

    .m-display-flex {
        display: flex !important;
    }
}