.font-weight\[100\] { font-weight: 100 !important; }
.font-weight\[150\] { font-weight: 150 !important; }
.font-weight\[200\] { font-weight: 200 !important; }
.font-weight\[250\] { font-weight: 250 !important; }
.font-weight\[300\] { font-weight: 300 !important; }
.font-weight\[350\] { font-weight: 350 !important; }
.font-weight\[400\] { font-weight: 400 !important; }
.font-weight\[450\] { font-weight: 450 !important; }
.font-weight\[500\] { font-weight: 500 !important; }
.font-weight\[550\] { font-weight: 550 !important; }
.font-weight\[600\] { font-weight: 600 !important; }
.font-weight\[650\] { font-weight: 650 !important; }
.font-weight\[700\] { font-weight: 700 !important; }
.font-weight\[750\] { font-weight: 750 !important; }
.font-weight\[800\] { font-weight: 800 !important; }
.font-weight\[850\] { font-weight: 850 !important; }
.font-weight\[900\] { font-weight: 900 !important; }