input {
    font-family: var(--font-primary);
    font-weight: 450;
    font-size: var(--text-size-default);
}

input {
    background-color: rgba(var(--background), 0);
    color: rgba(var(--primary), 1);
    border-color: rgba(var(--border, 1));
}

input:focus {
    outline: 1px ridge rgba(var(--ring), 0.5);
}

input::placeholder {
    color: rgba(var(--muted-foreground), 1);
}

input:disabled[readonly] {
    opacity: 1 !important;
}

input:disabled:not([readonly]) {
    opacity: 0.5 !important;
}