.shine {
    overflow: hidden;
    position: absolute;
}

.shine::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    z-index: 10;
    pointer-events: none;

    animation: shine 5s ease-in-out infinite;
}

.shine:hover::after {
    animation: shine 0.85s ease;
}

@keyframes shine {
    0% {
        left: -75%;
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    17% {
        left: 125%;
        opacity: 0;
    }
    100% {
        left: 125%;
        opacity: 0;
    }
}