.tagbar {
    position: relative;
    overflow: hidden;
}

.tagbar\[container\] {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.tagbar\[tag\] {
    background: transparent;
    font-size: 16px;
    white-space: nowrap;
    color: var(--primary);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    -webkit-user-drag: none;
}

.tagbar\[tag\]:hover {
    background-color: #3a3a3a;
    color: var(--primary);
}

.tagbar\[tag\].active {
    background-color: #3a3a3a;
}

.tagbar\[tag\]:active {
    filter: brightness(0.7);
}

.tagbar\[badge\] {
    background: var(--tagbar-badge-background, #5a5a5a);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 6px;
    color: var(--tagbar-badge-color, --primary);
}

.tagbar\[scroll\] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    z-index: 5;
    display: none;
}

.tagbar\[scroll\]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    background-color: rgba(var(--card), 1);
    filter: blur(5px);
    border-radius: inherit;
    z-index: -1;
}

.tagbar\[scroll\].left {
    left: -15px;
}

.tagbar\[scroll\].right {
    right: -15px;
}

.tagbar\[scroll-button\] {
    position: absolute;
    top: 50%;
    color: var(--primary);
    z-index: 10;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.tagbar\[scroll-button\].left {
    left: 15px;
}

.tagbar\[scroll-button\].right {
    right: 15px;
}