.transition-duration\[100\] { transition-duration: 100ms !important; }
.transition-duration\[200\] { transition-duration: 200ms !important; }
.transition-duration\[300\] { transition-duration: 300ms !important; }
.transition-duration\[400\] { transition-duration: 400ms !important; }
.transition-duration\[500\] { transition-duration: 500ms !important; }
.transition-duration\[600\] { transition-duration: 600ms !important; }
.transition-duration\[700\] { transition-duration: 700ms !important; }
.transition-duration\[800\] { transition-duration: 800ms !important; }
.transition-duration\[900\] { transition-duration: 900ms !important; }
.transition-duration\[1000\] { transition-duration: 1000ms !important; }